Blog_Web/WebContent/wsdl/blog_update.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Project" xmlns:intf="http://Project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="blog_updating">
    <complexType>
     <sequence>
      <element name="ID" type="xsd:int"/>
      <element name="newTitle" type="xsd:string"/>
      <element name="newContent" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="blog_updatingResponse">
    <complexType>
     <sequence>
      <element name="blog_updatingReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="blog_updatingRequest">

      <wsdl:part element="impl:blog_updating" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="blog_updatingResponse">

      <wsdl:part element="impl:blog_updatingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="blog_update">

      <wsdl:operation name="blog_updating">

         <wsdl:input message="impl:blog_updatingRequest" name="blog_updatingRequest">

       </wsdl:input>

         <wsdl:output message="impl:blog_updatingResponse" name="blog_updatingResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="blog_updateSoapBinding" type="impl:blog_update">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="blog_updating">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="blog_updatingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="blog_updatingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="blog_updateService">

      <wsdl:port binding="impl:blog_updateSoapBinding" name="blog_update">

         <wsdlsoap:address location="http://localhost:8080/Blog_Web/services/blog_update"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
