Blog_Web/WebContent/wsdl/Login.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Project" xmlns:intf="http://Project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="login_details">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login_detailsResponse">
    <complexType>
     <sequence>
      <element name="login_detailsReturn" type="impl:User_Details"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="User_Details">
    <sequence>
     <element name="userid" type="xsd:int"/>
     <element name="username" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="login_detailsResponse">

      <wsdl:part element="impl:login_detailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="login_detailsRequest">

      <wsdl:part element="impl:login_details" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login">

      <wsdl:operation name="login_details">

         <wsdl:input message="impl:login_detailsRequest" name="login_detailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:login_detailsResponse" name="login_detailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginSoapBinding" type="impl:Login">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login_details">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="login_detailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="login_detailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginService">

      <wsdl:port binding="impl:LoginSoapBinding" name="Login">

         <wsdlsoap:address location="http://localhost:8080/Blog_Web/services/Login"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
