Blog_Web/WebContent/wsdl/Login_Author.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Project" xmlns:intf="http://Project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="loginauthor">
    <complexType>
     <sequence>
      <element name="Username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginauthorResponse">
    <complexType>
     <sequence>
      <element name="loginauthorReturn" type="impl:User_Details"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="User_Details">
    <sequence>
     <element name="userid" type="xsd:int"/>
     <element name="username" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginauthorRequest">

      <wsdl:part element="impl:loginauthor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginauthorResponse">

      <wsdl:part element="impl:loginauthorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login_Author">

      <wsdl:operation name="loginauthor">

         <wsdl:input message="impl:loginauthorRequest" name="loginauthorRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginauthorResponse" name="loginauthorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Login_AuthorSoapBinding" type="impl:Login_Author">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loginauthor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginauthorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginauthorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Login_AuthorService">

      <wsdl:port binding="impl:Login_AuthorSoapBinding" name="Login_Author">

         <wsdlsoap:address location="http://localhost:8080/Blog_Web/services/Login_Author"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
