Blog_Web/WebContent/wsdl/Login_Admin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Project" xmlns:intf="http://Project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="loginadmin">
    <complexType>
     <sequence>
      <element name="Username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginadminResponse">
    <complexType>
     <sequence>
      <element name="loginadminReturn" type="impl:User_Details"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="User_Details">
    <sequence>
     <element name="userid" type="xsd:int"/>
     <element name="username" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginadminResponse">

      <wsdl:part element="impl:loginadminResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginadminRequest">

      <wsdl:part element="impl:loginadmin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login_Admin">

      <wsdl:operation name="loginadmin">

         <wsdl:input message="impl:loginadminRequest" name="loginadminRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginadminResponse" name="loginadminResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Login_AdminSoapBinding" type="impl:Login_Admin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loginadmin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginadminRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginadminResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Login_AdminService">

      <wsdl:port binding="impl:Login_AdminSoapBinding" name="Login_Admin">

         <wsdlsoap:address location="http://localhost:8080/Blog_Web/services/Login_Admin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
