Blog_Web/WebContent/wsdl/Login_Editor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Project" xmlns:intf="http://Project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="logineditor">
    <complexType>
     <sequence>
      <element name="Username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logineditorResponse">
    <complexType>
     <sequence>
      <element name="logineditorReturn" type="impl:User_Details"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="User_Details">
    <sequence>
     <element name="userid" type="xsd:int"/>
     <element name="username" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="logineditorRequest">

      <wsdl:part element="impl:logineditor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logineditorResponse">

      <wsdl:part element="impl:logineditorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Login_Editor">

      <wsdl:operation name="logineditor">

         <wsdl:input message="impl:logineditorRequest" name="logineditorRequest">

       </wsdl:input>

         <wsdl:output message="impl:logineditorResponse" name="logineditorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Login_EditorSoapBinding" type="impl:Login_Editor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="logineditor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logineditorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logineditorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Login_EditorService">

      <wsdl:port binding="impl:Login_EditorSoapBinding" name="Login_Editor">

         <wsdlsoap:address location="http://localhost:8080/Blog_Web/services/Login_Editor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
