Blog_Web/WebContent/wsdl/Showsblogs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Project" xmlns:intf="http://Project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="show">
    <complexType/>
   </element>
   <element name="showResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="showReturn" type="impl:Blog"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Blog">
    <sequence>
     <element name="post_id" type="xsd:int"/>
     <element name="author_id" type="xsd:int"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="content" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="showResponse">

      <wsdl:part element="impl:showResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="showRequest">

      <wsdl:part element="impl:show" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Showsblogs">

      <wsdl:operation name="show">

         <wsdl:input message="impl:showRequest" name="showRequest">

       </wsdl:input>

         <wsdl:output message="impl:showResponse" name="showResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShowsblogsSoapBinding" type="impl:Showsblogs">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="show">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="showRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="showResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShowsblogsService">

      <wsdl:port binding="impl:ShowsblogsSoapBinding" name="Showsblogs">

         <wsdlsoap:address location="http://localhost:8080/Blog_Web/services/Showsblogs"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
