Blog_Web/WebContent/wsdl/Signup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://project" xmlns:intf="http://project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="get_info_for_signup">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="get_info_for_signupResponse">
    <complexType>
     <sequence>
      <element name="get_info_for_signupReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="get_info_for_signupResponse">

      <wsdl:part element="impl:get_info_for_signupResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="get_info_for_signupRequest">

      <wsdl:part element="impl:get_info_for_signup" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Signup">

      <wsdl:operation name="get_info_for_signup">

         <wsdl:input message="impl:get_info_for_signupRequest" name="get_info_for_signupRequest">

       </wsdl:input>

         <wsdl:output message="impl:get_info_for_signupResponse" name="get_info_for_signupResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SignupSoapBinding" type="impl:Signup">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get_info_for_signup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="get_info_for_signupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="get_info_for_signupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SignupService">

      <wsdl:port binding="impl:SignupSoapBinding" name="Signup">

         <wsdlsoap:address location="http://localhost:8080/Blog_Web/services/Signup"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
